<div id="main-content__archive-screen-container">
  <div id="main-content__archive-screen-container__sidebar">
    <button class="option-button--left-bordered option-button--small" title="Go back to the main menu." id="archive-screen-container__back-button">Back</button>
    <br>
  </div>
</div>