<div id="main-content__archive-screen-container">
  <div id="main-content__archive-screen-container__sidebar">
    <button class="option-button--left-bordered option-button--small" title="Go back to the main menu." id="archive-screen-container__back-button">Back</button>
    <br>
  </div>
  <div id="main-content__archive-screen-container__content">
    <fieldset class="archive__content-fieldset">
      <legend>Search Replay</legend>
      <label for="archive__replay-id" title="The Replay ID to watch.">Replay ID:</label>
      <input class="archive__content-input--text" name="archive__replay-id" id="archive__replay-id" type="text" pattern="[0-9a-f\.]+">
      <div style="width:100%;text-align:right;">
        <button class="archive__content-input--button" id="archive__search-button">Search Replay</button>
      </div>
      <br>
      <div id="main-content__archive-screen-container__content__replay-details">
        <div id="main-content__archive-screen-container__content__replay-statistics">
        </div>
        <div style="width:100%;text-align:right;">
          <button class="archive__content-input--button" id="archive__start-button">Start Replay</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>