<div id="chat-tray-container">
  <div id="chat-tray">
    <div id="chat-tray-text-container">
      <h3>Global Chat</h3>
      <hr>
    </div>
    <!-- FIXME: THIS IS PLACEHOLDER CONTENT -->
    <div id="chat-tray-message-container">
      <!-- <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message chat-tray__message--alert-score">
        <div class="chat-tray__message-alert-score--top">
          <div>mistertfy64</div>
          <div>Standard Singleplayer</div>
        </div>
        <div class="chat-tray__message-alert-score--middle">
          1,234,567
        </div>
        <div class="chat-tray__message-alert-score--bottom">
          #1, 99999ms, 999.99APM, 999/999
        </div>
      </div>
      <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message">hello: 2</div>
      <div class="chat-tray__message">hello: 2</div> -->
    </div>
    <div id="chat-tray-input-container">
      <hr>
      <br>
      <input autocomplete="off" id="chat-tray-input" type="text" maxlength="256">&nbsp;<button id="chat-tray-input-send-button">Send</button>
    </div>
    <div id="chat-tray-error-container">

    </div>
  </div>
</div>