<div id="main-content__custom-multiplayer-room-selection-screen-container">
  <div id="main-content__custom-multiplayer-room-selection-screen">
    <div id="main-content__custom-multiplayer-room-selection-screen-button-container">
      <button class="custom-multiplayer-room-selection-screen-button" id="custom-multiplayer-room-selection-screen-button--join">
        <div class="button--top-aligned-text">
          <div class="custom-multiplayer-room-selection-screen-button__title">Join a Room</div>
          <div class="custom-multiplayer-room-selection-screen-button__description">Enter an existing room to get in to the game with other players.
          </div>
        </div>

      </button>
      <button class="custom-multiplayer-room-selection-screen-button" id="custom-multiplayer-room-selection-screen-button--create">
        <div class="button--top-aligned-text">
          <div class="custom-multiplayer-room-selection-screen-button__title">Create a Room</div>
          <div class="custom-multiplayer-room-selection-screen-button__description">Make your own room to set your own rules on other players.
          </div>
        </div>
      </button>
      <button class="custom-multiplayer-room-selection-screen-button" id="custom-multiplayer-room-selection-screen-button--back">
        <div class="button--top-aligned-text">
          <div class="custom-multiplayer-room-selection-screen-button__title">Back</div>
          <div class="custom-multiplayer-room-selection-screen-button__description">Go back to the multiplayer menu.
          </div>
        </div>
      </button>

    </div>
  </div>
</div>