<div id="main-content__custom-singleplayer-intermission-screen-container">
  <div id="main-content__custom-singleplayer-intermission-screen-container__left">
    <span class="text--light">Custom Singleplayer Intermission Screen</span>
    <button class="back-button--small" title="Go back to the main menu." id="custom-singleplayer-intermission-screen-container__back-button">Back</button>
    <br>
  </div>
  <div id="main-content__custom-singleplayer-intermission-screen-container__center">
    <div id="main-content__custom-singleplayer-intermission-screen-container__options-container">
      <div id="main-content__custom-singleplayer-intermission-screen-container__options">

      </div>
    </div>
  </div>
  <div id="main-content__custom-singleplayer-intermission-screen-container__right">

  </div>

</div>