<div id="main-content__custom-multiplayer-intermission-screen-container">
  <button class="custom-multiplayer-screen__sidebar-item" title="Go back to the main menu." id="custom-multiplayer-screen__sidebar-item--back">Back</button>
  <div id="main-content__custom-multiplayer-intermission-screen-container__left">
    <div id="main-content__custom-multiplayer-intermission-screen-container__status" class="text--light">
      <div class="main-content__custom-multiplayer-intermission-screen-container__status-indicator">
        <span class="status-indicator-label">Status</span>
        <span id="main-content__custom-multiplayer-intermission-screen-container__game-status-message" class="text--light">Custom Multiplayer Intermission Screen</span>
        <div id="custom-multiplayer-room-indicator-label">
          Room Code:
          <code id="custom-multiplayer-room-indicator-label__room-code--hidden" class="text--monospace">????????</code>
          <code id="custom-multiplayer-room-indicator-label__room-code" class="text--monospace">????????</code>
          <br>
          <span id="custom-multiplayer-room-indicator-label__copy">(copy quick join link)</span> |
          <span id="custom-multiplayer-room-indicator-label__toggle-visibility"> (toggle visibility)</span>
        </div>
      </div>
      <div class="main-content__custom-multiplayer-intermission-screen-container__status-indicator">
        <span class="status-indicator-label">Previous Game</span>
        <div id="main-content__custom-multiplayer-intermission-screen-container__game-status-ranking" class="text--light"></div>
      </div>
    </div>
  </div>
  <div id="main-content__custom-multiplayer-intermission-screen-container__center">
    <div class="main-content__custom-multiplayer-intermission-screen-container__introductory-text">
      Welcome to Mathematical Base Defenders!
      <br><br>
      This game is very easy to play.
      <br>
      All you have to do is solve math problems to kill enemies.
      <br><br>
      Type the number on the enemy or the answer to an expression on an enemy with your keyboard.
      <br><br>
      <span>
        Press <code>Space</code> or <code>Enter</code> to submit an answer.
      </span>
      <br>
      <span>
        At the moment, you are in <span id="main-content__custom-multiplayer-intermission-screen-container__host-name">???</span>'s Custom Multiplayer room.
      </span>
    </div>
  </div>
  <div id="main-content__custom-multiplayer-intermission-screen-container__right">
    <!-- <span id="main-content__custom-multiplayer-intermission-screen-container__player-list" class="text--light"></span>
    <br> -->
    <div id="main-content__custom-multiplayer-intermission-screen-container__chat" class="text--light">
      <div id="main-content__custom-multiplayer-intermission-screen-container__chat__messages"></div>
      <div id="main-content__custom-multiplayer-intermission-screen-container__chat__player-list"></div>
      <div id="main-content__custom-multiplayer-intermission-screen-container__chat__entry">
        <input autocomplete="off" maxlength="256" id="custom-multiplayer-chat-message" type="text"><button id="custom-multiplayer-message-send-button">Send</button>
      </div>
      <div id="main-content__custom-multiplayer-intermission-screen-container__player-list">
        <span>
          In Room: <span id="main-content__custom-multiplayer-intermission-screen-container__player-count">0</span>
        </span>
        <span id="main-content__custom-multiplayer-intermission-screen-container__player-list__toggle-list">
          Show Player List
        </span>
      </div>
    </div>
  </div>

</div>