<div id="main-content__game-over-screen-container">
  <div id="main-content__game-over-screen">
    <div id="main-content__game-over-screen__stats" class="background--neutral">
      <span class="text--centered text--light" style="font-size:min(36px, 4.5vw);">
        Score
      </span>
      <span class="text--centered text--light" style="font-size:120px;" id="main-content__game-over-screen__stats__score"></span>
      <span class="text--centered text--light" style="font-size:min(36px, 4.5vw);" id="main-content__game-over-screen__stats__score-rank"></span>
      <span style="display:flex;justify-content:center;align-items:center;width:100%;">
        <span>
          <span class="text--centered text--light" style="font-size:min(36px, 4.5vw);" id="main-content__game-over-screen__stats__game-mode"></span>&nbsp;
          <span class="text--centered text--light" style="font-size:min(36px, 4.5vw);" id="main-content__game-over-screen__stats__enemies"></span>&nbsp;
          <span class="text--centered text--light" style="font-size:min(36px, 4.5vw);" id="main-content__game-over-screen__stats__time"></span>
        </span></span>
    </div>
    <div id="main-content__game-over-screen__action-button-container">
      <button class="game-over-screen-button" id="game-over-screen-button--retry">
        <div class="game-over-screen-button__title">Retry</div>
        <div class="game-over-screen-button__description">Play Singleplayer again.
        </div>
      </button>
      <button class="game-over-screen-button" id="game-over-screen-button--back">
        <div class="game-over-screen-button__title">Back</div>
        <div class="game-over-screen-button__description">Go back to the main menu.
        </div>
      </button>
    </div>
  </div>
</div>