<!-- <div id="main-content__main-menu-screen-container">
  <div id="main-content__main-menu-screen">
    <div id="main-content__main-menu-screen-button-container">
      <button class="main-menu-screen-button" id="main-menu-screen-button--singleplayer">
        <div class="main-menu-screen-button__title">Singleplayer</div>
        <div class="main-menu-screen-button__description">Test your mental math skills and kill enemies by
          yourself.<br>Can you get a higher score?
        </div>

      </button>
      <button class="main-menu-screen-button" id="main-menu-screen-button--multiplayer">
        <div class="main-menu-screen-button__title">Multiplayer</div>
        <div class="main-menu-screen-button__description">Test your mental math skills and race against others to kill
          your enemies and send them to other players.<br>Fun for the whole nerd group!
        </div>
      </button>
      <button class="main-menu-screen-button" id="main-menu-screen-button--settings">

        <div class="main-menu-screen-button__title">Settings</div>
        <div class="main-menu-screen-button__description">Change how the game looks, feels, and sounds.
        </div>
      </button>

    </div>
  </div>
</div> -->
<div id="main-content__main-menu-screen-container">
  <div id="main-content__main-menu-screen">
    <div id="main-content__main-menu-screen__logo-container">
      <img src="../../assets/images/reversal.png">
    </div>
    <div id="main-content__main-menu-screen-button-container">
      <button class="main-menu-screen-button" id="main-menu-screen-button--singleplayer">
        <div class="main-menu-screen-button__title">Singleplayer</div>
        <div class="main-menu-screen-button__description">Test your mental math skills and kill enemies by
          yourself.<br>Can you get a higher score?
        </div>

      </button>
      <button class="main-menu-screen-button" id="main-menu-screen-button--multiplayer">
        <div class="main-menu-screen-button__title">Multiplayer</div>
        <div class="main-menu-screen-button__description">Test your mental math skills and race against others to kill
          your enemies and send them to other players.<br>Fun for the whole nerd group!
        </div>
      </button>
      <button class="main-menu-screen-button" id="main-menu-screen-button--settings">

        <div class="main-menu-screen-button__title">Settings</div>
        <div class="main-menu-screen-button__description">Change how the game looks, feels, and sounds.
        </div>
      </button>

    </div>
  </div>
</div>