<div id="main-content__multiplayer-intermission-screen-container">
  <span class="text--light">Multiplayer Intermission Screen</span>
  <br>
  <span id="main-content__multiplayer-intermission-screen-container__game-status-message" class="text--light">Multiplayer Intermission Screen</span>
  <br>
  <span id="main-content__multiplayer-intermission-screen-container__game-status-ranking" class="text--light"></span>
</div>