<div id="main-content__multiplayer-intermission-screen-container">
  <div id="main-content__multiplayer-intermission-screen-container__left">
    <span id="main-content__multiplayer-intermission-screen-container__game-status-message" class="text--light">Multiplayer Intermission Screen</span>
    <br>
    <span id="main-content__multiplayer-intermission-screen-container__game-status-ranking" class="text--light"></span>
  </div>
  <div id="main-content__multiplayer-intermission-screen-container__center"></div>
  <div id="main-content__multiplayer-intermission-screen-container__right">
    <!-- <span id="main-content__multiplayer-intermission-screen-container__player-list" class="text--light"></span>
    <br> -->
    <div id="main-content__multiplayer-intermission-screen-container__chat" class="text--light">
      <div id="main-content__multiplayer-intermission-screen-container__chat__messages"></div>
      <div id="main-content__multiplayer-intermission-screen-container__chat__entry">
        <input autocomplete="off" maxlength="256" id="chat-message" type="text"><button id="message-send-button">Send</button>
      </div>
      <div id="main-content__multiplayer-intermission-screen-container__player-list">
        <span>
          In Room: 5
        </span>
        <span id="main-content__multiplayer-intermission-screen-container__player-list__toggle-list">
          Show Player List
        </span>
      </div>
    </div>
  </div>

</div>