<div id="main-content__multiplayer-menu-screen-container">
  <div id="main-content__multiplayer-menu-screen">
    <div id="main-content__multiplayer-menu-screen-button-container">
      <button class="multiplayer-menu-screen-button" id="multiplayer-menu-screen-button--default">
        <div class="multiplayer-menu-screen-button__title">Default Multiplayer Room</div>
        <div class="multiplayer-menu-screen-button__description">Play on the default room with standard rules.
        </div>

      </button>
      <button class="multiplayer-menu-screen-button" id="multiplayer-menu-screen-button--custom">
        <div class="multiplayer-menu-screen-button__title">Custom Rooms</div>
        <div class="multiplayer-menu-screen-button__description">Make your own rooms with your own rules and share them with others. (Coming Soon)
        </div>
      </button>
      <button class="multiplayer-menu-screen-button" id="multiplayer-menu-screen-button--back">
        <div class="multiplayer-menu-screen-button__title">Back</div>
        <div class="multiplayer-menu-screen-button__description">Go back to the main menu.
        </div>
      </button>

    </div>
  </div>
</div>