<div id="opening-screen">
  <div>
    <img src="../../assets/images/reversal.png">
  </div>
  <div id="opening-screen__authentication-modal">
    Welcome to Mathematical Base Defenders!
    <br>
    Please log in to your account.
    <br>
    <form id="authentication-modal__login-form">
      <div class="authentication-modal__login-form-element">
        <label for="authentication-modal__username" title="Put the username for your account here.">Username:</label>
        <input class="settings-screen__content-input--text" id="authentication-modal__username" name="authentication-modal__username" type="text" autocomplete="username">
      </div>
      <div class="authentication-modal__login-form-element">
        <label for="authentication-modal__password" title="Put the password for your account here.">Password:</label>
        <input class="settings-screen__content-input--text" id="authentication-modal__password" name="authentication-modal__password" type="password" autocomplete="current-password">
      </div>
      <input name="authentication-modal__socket-id" id="authentication-modal__socket-id" type="hidden">
      <div style="width:100%;text-align:right;">
        <input type="submit" style="padding:0px 32px;" id="settings-screen__content--online__submit" class="settings-screen__content-input--button"></input>
      </div>
    </form>
  </div>
  <div class="text--centered">
    <a href="https://mathematicalbasedefenders.com/register">
      <button class="link-button">Register for an account</button>
    </a>
    <br>
    <button id="opening-screen__play-as-guest" class="link-button">Play as a Guest</button>
  </div>
</div>