<div id="main-content__quick-menu-container">
  <div id="main-content__quick-menu">
    <div id="quick-menu__content-container" style="display:none;">
      <button title="Quits the current game." class="quick-menu__content-button" id="quick-menu__content-button--quit"><span class="material-symbols-outlined">
          close
        </span></button>
      <button title="Opens the settings." class="quick-menu__content-button" id="quick-menu__content-button--settings"><span class="material-symbols-outlined">
          settings
        </span></button>
      <button title="Toggle the on screen keyboard's visibility." class="quick-menu__content-button" id="quick-menu__content-button--on-screen-keyboard"><span class="material-symbols-outlined">
          keyboard_onscreen
        </span></button>
    </div>
    <button id="quick-menu__toggle-button"><span class="material-symbols-outlined">
        menu
      </span></button>
  </div>
</div>