<div id="replay-controller-container">
  <div id="replay-controller">
    <div id="replay-controller__indicator"></div>
    <div id="replay-controller__bar"></div>
    <div id="replay-controller__control-zone">
      <div class="replay-controller-text" id="replay-controller__current-time"></div>
      <div class="replay-controller-text" id="replay-controller__control-buttons">
        <div id="replay-controller__resume">
          <span class="material-symbols-outlined">
            play_arrow
          </span>
        </div>
        <div id="replay-controller__pause">
          <span class="material-symbols-outlined">
            pause
          </span>
        </div>
      </div>
    </div>
  </div>
</div>