<div id="replay-controller-container">
  <div id="replay-controller">
    <div id="replay-controller__indicator"></div>
    <div id="replay-controller__bar"></div>
    <div class="replay-controller-text" id="replay-controller__current-time"></div>
  </div>
</div>