<div id="main-content__settings-screen-container">
  <div id="main-content__settings-screen">
    <div id="settings-screen__sidebar">
      <button class="settings-screen__sidebar-item" title="Go back to the main menu." id="settings-screen__sidebar-item--back">Back</button>
      <br>
      <button class="settings-screen__sidebar-item" title="Change how you represent yourself in the game." id="settings-screen__sidebar-item--online">Online</button>
      <button class="settings-screen__sidebar-item" title="Change how the game looks." id="settings-screen__sidebar-item--video">Video</button>
      <button class="settings-screen__sidebar-item" title="Change how the game sounds." id="settings-screen__sidebar-item--audio">Audio</button>

    </div>
    <div id="settings-screen__content">
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--online">
        <fieldset class="settings-screen__content-fieldset">
          <legend>Account</legend>
          <div class="settings-screen__content--online--unauthenticated">
            <form id="settings-screen__content--online__login-form">
              <label for="settings-screen__content--online__username" title="Put the username for your account here.">Username:</label> <input class="settings-screen__content-input--text" name="settings-screen__content--online__username" id="settings-screen__content--online__username" type="text">
              <br>
              <label for="settings-screen__content--online__password" title="Put the password for your account here.">Password:</label> <input class="settings-screen__content-input--text" name="settings-screen__content--online__password" id="settings-screen__content--online__password" type="password">
              <br>
              <input name="settings-screen__content--online__socket-id" id="settings-screen__content--online__socket-id" type="hidden">
              <br>
              <div style="width:100%;text-align:right;"><input type="submit" style="padding:0px 32px;" id="settings-screen__content--online__submit" class="settings-screen__content-input--button"></input></div>
            </form>
          </div>
          <div class="settings-screen__content--online--authenticated">
            <div style="text-align:center;display:flex;align-items: center;">
              Logged in as&nbsp;<span id="settings-screen__content--online__rank"></span>&nbsp;<span id="settings-screen__content--online__authenticated-username"></span>
            </div>
          </div>
        </fieldset>
        <br>
        <fieldset class="settings-screen__content-fieldset">
          <legend>Account Statistics</legend>
          <div class="settings-screen__content--online--unauthenticated">
            <div style="text-align:center;display:flex;align-items: center;">
              <div>Log in first to see your account statistics.</div>
            </div>
          </div>
          <div class="settings-screen__content--online--authenticated" style="width:100%;">
            <div style="display:flex;flex-direction: row;width:100%">
              <div style="display:flex;flex-direction:column;width:50%">
                <div class="settings-screen__content--account-stat-entry">
                  Username: <span id="user-account-stat--username"></span>
                </div>
                <div class="settings-screen__content--account-stat-entry">
                  Rank: <span id="user-account-stat--rank"></span>
                </div>
                <div class="settings-screen__content--account-stat-entry">
                  Level: <span id="user-account-stat--level"></span>
                </div>
              </div>
              <div style="display:flex;flex-direction:column;width:50%">
                <div class="settings-screen__content--account-stat-entry">
                  <div class="settings-screen__content--account-stat-entry">
                    Easy S. Player PB: <span id="user-account-stat--easy-singleplayer-record"></span>
                  </div>
                  <div class="settings-screen__content--account-stat-entry">
                    Standard S. Player PB: <span id="user-account-stat--standard-singleplayer-record"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- <fieldset class="settings-screen__content-fieldset">
          <legend>Account Settings</legend>
          <div class="settings-screen__content--online--unauthenticated">
            <div style="text-align:center;display:flex;align-items: center;">
              <div>Log in first to set settings for your accounts.</div>
            </div>
          </div>
          <div class="settings-screen__content--online--authenticated">
            <div class="settings-screen__content--online--authenticated" style="width:100%;">
              <div style="display:flex;flex-direction: row;width:100%">
                <div style="display:flex;flex-direction:column;width:50%">1</div>
                <div style="display:flex;flex-direction:column;width:50%">2</div>
              </div>
            </div>

          </div>
        </fieldset> -->
      </div>
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--video">
        <fieldset title="Whether to use the times symbol (×) or middle dot (•) for the multiplication sign." class="settings-screen__content-fieldset">
          <legend>Multiplication Sign</legend>
          <input type="radio" id="settings-multiplication-sign__times" name="settings__multiplication-sign" value="times">
          <label for="settings-multiplication-sign__times">Times</label><br>
          <input type="radio" id="settings-multiplication-sign__middle-dot" name="settings__multiplication-sign" value="middle-dot">
          <label for="settings-multiplication-sign__middle-dot">Middle Dot</label><br>
        </fieldset>
        <br>
        <fieldset title="Whether to display the effect of your score display gradually rising." class="settings-screen__content-fieldset">
          <legend>Beautiful Score Display</legend>
          <input type="radio" id="settings-beautiful-score-display__on" name="settings__beautiful-score-display" value="on">
          <label for="settings-beautiful-score-display__on">On</label><br>
          <input type="radio" id="settings-beautiful-score-display__off" name="settings__beautiful-score-display" value="off">
          <label for="settings-beautiful-score-display__off">Off</label><br>
        </fieldset>
        <br>
        <fieldset title="What color to use for every enemy that spawns. All enemies are the same regardless of color." class="settings-screen__content-fieldset">
          <legend>Enemy Color</legend>
          <input type="radio" id="settings-enemy-color__random-for-each" name="settings__enemy-color" value="randomForEach">
          <label for="settings-enemy-color__random-for-each">Random for Each</label><br>
          <input type="radio" id="settings-enemy-color__random-for-each-from-palette" name="settings__enemy-color" value="randomFromPalette">
          <label for="settings-enemy-color__random-for-each-from-palette">Random for Each from Palette: </label>
          <select name="settings-enemy-color__selected-enemy-color-palette" id="selected-enemy-color-palette">
            <option value="fire">Fire</option>
            <option value="aurora">Aurora</option>
            <option value="grayscale">Grayscale</option>
          </select>
          <br>
          <input type="radio" id="settings-enemy-color__set-color" name="settings__enemy-color" value="setColor">
          <label for="settings-enemy-color__set-color">Set Color: <span class="text--monospace" id="settings__enemy-color__forced-color"></span></label>&nbsp;<input id="settings__enemy-color__forced-color-picker" name="forced-color" type="color" value="#ff0000">
        </fieldset>
        <br>
        <fieldset title="What the enemies' width/height ratio should be. This is to prevent text being too small when playing at smaller resolutions." class="settings-screen__content-fieldset">
          <legend>Enemy Width:Height Ratio</legend>
          <input type="radio" id="settings-enemy-size__single-width" name="settings__enemy-size-ratio" value="1">
          <label for="settings-enemy-size__single-width">1:1</label><br>
          <input type="radio" id="settings-enemy-size__double-width" name="settings__enemy-size-ratio" value="2">
          <label for="settings-enemy-size__double-width">2:1</label><br>
        </fieldset>
        <br>
        <fieldset title="What the enemies' global scale ratio should be. This is to prevent text being too small when playing at smaller resolutions." class="settings-screen__content-fieldset">
          <legend>Enemy and Enemy Font Scale</legend>
          <input type="radio" id="settings-enemy-scale__100-scale" name="settings-enemy-scale" value="1">
          <label for="settings-enemy-scale__100-scale">100%</label><br>
          <input type="radio" id="settings-enemy-scale__110-scale" name="settings-enemy-scale" value="1.1">
          <label for="settings-enemy-scale__110-scale">110%</label><br>
          <input type="radio" id="settings-enemy-scale__125-scale" name="settings-enemy-scale" value="1.25">
          <label for="settings-enemy-scale__125-scale">125%</label><br>
          <input type="radio" id="settings-enemy-scale__150-scale" name="settings-enemy-scale" value="1.5">
          <label for="settings-enemy-scale__150-scale">150%</label><br>
          <input type="radio" id="settings-enemy-scale__200-scale" name="settings-enemy-scale" value="2">
          <label for="settings-enemy-scale__200-scale">200%</label><br>
        </fieldset>
        <br>
        <fieldset title="Whether to display score gains." class="settings-screen__content-fieldset">
          <legend>Display Score Gains</legend>
          <input type="radio" id="settings-score-display__on" name="settings__score-display" value="on">
          <label for="settings-score-display__on">On</label><br>
          <input type="radio" id="settings-score-display__off" name="settings__score-display" value="off">
          <label for="settings-score-display__off">Off</label><br>
        </fieldset>
        <br>
        <fieldset title="What to display for level information" class="settings-screen__content-fieldset">
          <legend>Display Level Information</legend>
          <input type="radio" id="settings-level-display__low" name="settings__level-display" value="low">
          <label for="settings-level-display__low">Level Only</label><br>
          <input type="radio" id="settings-level-display__medium" name="settings__level-display" value="medium">
          <label for="settings-level-display__medium">Level and Basic Info</label><br>
          <input type="radio" id="settings-level-display__high" name="settings__level-display" value="high">
          <label for="settings-level-display__high">Everything</label><br>
        </fieldset>
        <br>
        <fieldset title="Whether to force hide the text explaining how to play." class="settings-screen__content-fieldset">
          <legend>Force Hide Tutorial Text</legend>
          <input type="radio" id="settings-force-hide-tutorial-text__on" name="settings__force-hide-tutorial-text" value="on">
          <label for="settings-force-hide-tutorial-text__on">On</label><br>
          <input type="radio" id="settings-force-hide-tutorial-text__off" name="settings__force-hide-tutorial-text" value="off">
          <label for="settings-force-hide-tutorial-text__off">Off</label><br>
        </fieldset>
        <br>
        <fieldset title="The URL for the background image." class="settings-screen__content-fieldset">
          <legend>Background Image URL</legend>
          <input type="text" style="width:50%;" id="settings-background-image" class="settings-screen__content-input--text" name="settings__background-image">
          <br>
          <div style="width:100%;text-align:right;">
            <button id="save-background-image" class="settings-screen__content-input--button">Save</button>
          </div>
        </fieldset>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--audio">
        <fieldset title="Whether to play sound." class="settings-screen__content-fieldset">
          <legend>Sound</legend>
          <input type="radio" id="settings-sound__on" name="settings__sound" value="on">
          <label for="settings-sound__on">On</label><br>
          <input type="radio" id="settings-sound__off" name="settings__sound" value="off">
          <label for="settings-sound__off">Off</label><br>
        </fieldset>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>