<div id="main-content__singleplayer-menu-screen-container">
  <div id="main-content__singleplayer-menu-screen">
    <div id="main-content__singleplayer-menu-screen-button-container">
      <button class="singleplayer-menu-screen-button" id="singleplayer-menu-screen-button--easy">
        <div class="singleplayer-menu-screen-button__title">Easy</div>
        <div class="singleplayer-menu-screen-button__description">Play on the easy mode with slower enemies and an enemy
          cap.
        </div>

      </button>
      <button class="singleplayer-menu-screen-button" id="singleplayer-menu-screen-button--standard">
        <div class="singleplayer-menu-screen-button__title">Standard</div>
        <div class="singleplayer-menu-screen-button__description">Test your mental math skills on the standard mode
          through a stressful and challenging gameplay process.
        </div>
      </button>
      <button class="singleplayer-menu-screen-button" id="singleplayer-menu-screen-button--back">

        <div class="singleplayer-menu-screen-button__title">Back</div>
        <div class="singleplayer-menu-screen-button__description">Go back to the main menu.
        </div>
      </button>

    </div>
  </div>
</div>