<div id="splash-screen">
  <span class="material-symbols-outlined" style="font-size:120px">
    warning
  </span>
  <p>Mathematical Base Defenders is in its development stage.
    <br>
    Content is subject to change without notice.
    <br>
    Mathematical Base Defenders is not a substitute for a legitimate math tutor.
  </p>
</div>