<div id="status-tray-container">
  <div id="status-tray">
    <div id="status-tray-text-container">
      <h3>Mathematical Base Defenders: Reversal</h3>
      <hr>
      <p>Players Online: <span id="status-tray-text__online--total">???</span>
      <ul>
        <li><span id="status-tray-text__online--registered">???</span> registered players</li>
        <li><span id="status-tray-text__online--guests">???</span> guests</li>
      </ul>
      <hr>
      </p>
      <p>Rooms: <span id="status-tray-text__rooms--total">???</span>
      <ul>
        <li><span id="status-tray-text__rooms--single">???</span> singleplayer rooms</li>
        <li><span id="status-tray-text__rooms--multi">???</span> multiplayer rooms</li>
      </ul>
      </p>
      <hr>
      <p>Last Update: <span id="status-tray-text__last-update">???</span>ms ago</p>
    </div>
  </div>
</div>