<div id="main-content__user-menu-container">
  <div id="main-content__user-menu">
    <div id="user-menu__content-container" style="display:none;">
    </div>
    <!-- <button id="user-menu__toggle-button"></button> -->
    <div id="main-content__user-menu-small-display">
      <div style="display:flex;width:100%;">
        <div style="width:85%;padding:4px;">
          <span id="main-content__user-menu-small-display__rank"></span>
          <span id="main-content__user-menu-small-display__username"></span>
          <br>
          <span id="main-content__user-menu-small-display__level"></span>
          <br>
          <span style="font-size:12px;" class="text--monospace" id="current-domain"></span>
        </div>
      </div>
    </div>
  </div>
</div>