<div id="main-content__user-card-container">
  <div id="main-content__user-card">
    <div id="user-card__header">
      <div id="user-card__player-data">
        <div id="user-card__rank">
          rank
        </div>
        <div id="user-card__username">
          username
        </div>
      </div>
      <div id="user-card__close-button">
        close button
      </div>
    </div>
    <div id="user-card__level">
      Level ???
    </div>
    <br>
    <div id="user-card__play-data">
      <div class="user-card__data__mode">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat beatae pariatur quidem corrupti qui, excepturi expedita sed minus eaque fugiat suscipit. Tenetur ex numquam atque error saepe et alias itaque!</div>
      <div class="user-card__data__mode">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat beatae pariatur quidem corrupti qui, excepturi expedita sed minus eaque fugiat suscipit. Tenetur ex numquam atque error saepe et alias itaque!</div>
      <div class="user-card__data__mode">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat beatae pariatur quidem corrupti qui, excepturi expedita sed minus eaque fugiat suscipit. Tenetur ex numquam atque error saepe et alias itaque!</div>
    </div>
  </div>
</div>