<div id="main-content__user-card-container">
  <div id="main-content__user-card">
    <div id="user-card__loading">
      <div class="user-card__header">
        <div></div>
        <div class="user-card__close-button">
          <span class="material-symbols-outlined">
            close
          </span>
        </div>
      </div>
      <div class="user-card__diagnostic-message">
        <p>Fetching data for player...</p>
      </div>
    </div>
    <div id="user-card__error">
      <div class="user-card__header">
        <div></div>
        <div class="user-card__close-button">
          <span class="material-symbols-outlined">
            close
          </span>
        </div>
      </div>
      <div class="user-card__diagnostic-message">
        <p id="user-card__error__reason">Error while fetching user data.</p>
      </div>
    </div>
    <div id="user-card__data">
      <div class="user-card__header">
        <div id="user-card__player-data">
          <div id="user-card__rank">
            rank
          </div>
          <div id="user-card__username">
            username
          </div>
        </div>
        <div style="display:flex;">
          <div class="user-card__open-in-new-button">
            <span class="material-symbols-outlined">
              open_in_new
            </span>
          </div>
          <div class="user-card__close-button">
            <span class="material-symbols-outlined">
              close
            </span>
          </div>
        </div>
      </div>
      <div id="user-card__level">
        Level ???
      </div>
      <br>
      <div id="user-card__play-data">
        <div class="user-card__data__mode">
          Easy Singleplayer
          <div id="user-card__score--easy" class="user-card__score">
            0
          </div>
          <div id="user-card__score--easy--detailed" class="user-card__score--detailed">
            0
          </div>
        </div>
        <div class="user-card__data__mode">
          Standard Singleplayer
          <div id="user-card__score--standard" class="user-card__score">
            0
          </div>
          <div id="user-card__score--standard--detailed" class="user-card__score--detailed">
            0
          </div>
        </div>
        <div class="user-card__data__mode">
          Multiplayer
          <div id="user-card__score--multiplayer" class="user-card__score">
            0
          </div>
          <div id="user-card__score--multiplayer--detailed" class="user-card__score--detailed">
            0
          </div>
        </div>
      </div>
    </div>
  </div>
</div>