<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 | Mathematical Base Defenders: Reversal</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      font-family: "Noto Sans", sans-serif;
      font-variant-ligatures: none;
      font-size: 100%;
    }
  </style>
</head>

<body style="background-color:#000000;margin:0">
  <div style="width:100vw;height:100vh">
    <div style="width:100%;height:100%;flex-direction:column;display:flex;justify-content:center;align-items: center;">
      <p style="margin:4px;font-size:144px;color:#ffffff">404</p>
      <br>
      <p style="margin:4px;color:#ffffff !important">The page you are looking for can't be found.</p>
      <p style="margin:4px;color:#ffffff !important">Do you want to <a style="color:#ffffff" href="/">go back to Mathematical Base Defenders</a>?</p>
    </div>
  </div>
</body>

</html>