<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 | Mathematical Base Defenders: Reversal</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body style="background-color:#000000;margin:0">
  <div style="width:100vw;height:100vh">
    <div style="width:100%;height:100%;flex-direction:column;display:flex;justify-content:center;align-items: center;">
      <p style="margin:4px;font-size:144px;color:#ffffff">404</p>
      <br>
      <p style="margin:4px;color:#ffffff !important">The page you are looking for can't be found.</p>
      <p style="margin:4px;color:#ffffff !important">Do you want to <a style="color:#ffffff" href="/">go back to Mathematical Base Defenders</a>?</p>
    </div>
  </div>
</body>

</html>