<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 | Mathematical Base Defenders: Reversal</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body style="background-color:#000000">
  <p style="color:#ffffff">404 - Not Found! (please tell mistertfy64 to keep working on this)</p>
</body>

</html>