{
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": "cypress/e2e/**/*",
      "options": {
        "printWidth": 160
      }
    }
  ]
}