/* custom-multiplayer INTERMISSION */
#main-content__custom-multiplayer-intermission-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* grid-template-columns: [column1-start] 300px [column1-end column2-start] auto [column2-end column3-start] 300px [column3-end];
  grid-template-rows: [row1-start] 100px [row1-end row2-start] 50vh [row2-end row3-start] auto [row3-end]; */
}

#main-content__custom-multiplayer-intermission-screen-container__left {
  /* grid-column: column1-start / column3-end; */
  /* grid-row: row1-start / row1-end; */
  width: 25%;
  display: flex;
  align-items: center;
}

#main-content__custom-multiplayer-intermission-screen-container__center {
  /* grid-row: row2-start / row2-end; */
  width: 50%;
}

#main-content__custom-multiplayer-intermission-screen-container__right {
  /* grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end; */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#main-content__custom-multiplayer-intermission-screen-container__chat {
  border: 2px solid #ffffff;
  /* padding: 4px; */
  height: 75%;
  min-height: fit-content;
  display: block;
  width: 100%;
  background-color: var(--color-neutral);
}

#main-content__custom-multiplayer-intermission-screen-container__chat__messages {
  height: 95%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
}

#main-content__custom-multiplayer-intermission-screen-container__chat__messages
  > div {
  margin: 0 2px;
}

#main-content__custom-multiplayer-intermission-screen-container__chat__entry {
  width: 100%;
  background-color: transparent;
}

#main-content__custom-multiplayer-intermission-screen-container__player-list {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

#main-content__custom-multiplayer-intermission-screen-container__player-list__toggle-list {
  text-decoration: underline;
  cursor: pointer;
}

#main-content__custom-multiplayer-intermission-screen-container__chat__player-list {
  display: none;
  height: 95%;
  overflow-x: hidden;
  width: 100%;
  margin: 2px;
}

.main-content__custom-multiplayer-intermission-screen-container__status-indicator:nth-of-type(
    2
  ) {
  border-top: 2px solid #ffffff;
}

#custom-multiplayer-chat-message {
  width: calc(100% - 86px);
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: inherit;
  margin: 0 2px;
}

#custom-multiplayer-message-send-button {
  width: 70px;
  background-color: transparent;
  border: 2px solid white;
  color: #ffffff;
  font-family: inherit;
}

#main-content__custom-multiplayer-intermission-screen-container__status {
  height: 75%;
  overflow: hidden;
  width: 100%;
  margin: 2px;
  border: 2px solid #ffffff;
  background-color: var(--color-neutral);
}

.main-content__custom-multiplayer-intermission-screen-container__status-indicator {
  position: relative;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-indicator-label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
}

.ranking-placement {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ranking-placement:nth-of-type(2n) {
  background-color: #3a3a3a;
}

.ranking-placement--left {
  display: flex;
  flex-direction: row;
}

.ranking-placement--right {
  display: flex;
  flex-direction: column;
}

#main-content__custom-multiplayer-intermission-screen-container__game-status-ranking {
  width: 100%;
  padding: 2px;
}

.custom-multiplayer-screen__sidebar-item {
  width: 120px;
  color: var(--color-text-light);
  font-size: 200%;
  text-align: left;
  margin: 4px;
  background-color: transparent;
  border-left: 1px solid #ffffff;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
  border-top: none;
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: 40px;
  left: 80px;
}

.custom-multiplayer-screen__sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

.custom-multiplayer-screen__sidebar-item--selected {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

#custom-multiplayer-room-indicator-label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2px;
  text-align: right;
  user-select: none;
}

#custom-multiplayer-room-indicator-label
  #custom-multiplayer-room-indicator-label__room-code--hidden {
  display: none;
}

#custom-multiplayer-room-indicator-label__copy,
#custom-multiplayer-room-indicator-label__toggle-visibility {
  text-decoration: underline;
}

#custom-multiplayer-room-indicator-label__copy:hover,
#custom-multiplayer-room-indicator-label__toggle-visibility:hover {
  cursor: pointer;
}

.main-content__custom-multiplayer-intermission-screen-container__introductory-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  user-select: none;
  text-align: center;
}

#main-content__custom-multiplayer-intermission-screen-container__game-status-message {
  text-align: center;
}
