/* MULTIPLAYER MENU */
#main-content__multiplayer-menu-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: grid;
}

#main-content__multiplayer-menu-screen {
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: [column1-start] 5% [column1-end column2-start] 45% [column2-end column3-start] 45% [column3-end column4-start] 5% [column4-end];
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
}

#main-content__multiplayer-menu-screen-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end;
  height: 100%;
}

.multiplayer-menu-screen-button {
  height: 8vw;
  border: 1px #ffffff solid;
  background-repeat: no-repeat;
  background-size: 35%;
  transition-duration: var(--transition-duration-short);
  margin: 16px;
  width: 100%;
  overflow: hidden;
  flex-flow: column wrap;
}

.multiplayer-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: inherit;
}
.multiplayer-menu-screen-button__description {
  font-size: min(24px, 1.5vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-wrap: wrap;

  white-space: nowrap;
  text-overflow: clip;
  text-align: left;
  font-family: inherit;
}

#multiplayer-menu-screen-button--default {
  background-color: var(--color-multiplayer-menu-default);
  background-image: url("../assets/images/default.svg");
  background-size: auto 100%;
  background-position-x: 32px;
  height: 60%;
  background-repeat: no-repeat;
}

#multiplayer-menu-screen-button--custom {
  background-color: var(--color-multiplayer-menu-custom);
  background-image: url("../assets/images/custom2.svg");
  background-size: auto 100%;
  background-position-x: 32px;
  height: 30%;
  cursor: pointer;
  background-repeat: no-repeat;
}

#multiplayer-menu-screen-button--back {
  background-color: var(--color-neutral);
  background-image: url("../assets/images/back.svg");
  background-position-x: 32px;
  background-size: auto 100%;
  height: 10%;
}

#multiplayer-menu-screen-button--default:hover,
#multiplayer-menu-screen-button--custom:hover,
#multiplayer-menu-screen-button--back:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
  #main-content__multiplayer-menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main-content__multiplayer-menu-screen-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: unset;
  }

  .multiplayer-menu-screen-button {
    margin: 16px;
    width: 90% !important;
    height: 50% !important;
  }

  #multiplayer-menu-screen-button--custom .button__strikethrough-bar {
    position: relative;
    top: -50px;
  }
}
