/* SINGLEPLAYER MENU SCREEN */
#main-content__singleplayer-menu-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: grid;
}

#main-content__singleplayer-menu-screen {
  grid-template-columns: [column1-start] 5% [column1-end column2-start] 45% [column2-end column3-start] 45% [column3-end column4-start] 5% [column4-end];
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
  display: grid;
}

@media only screen and (max-width: 1200px) {
  #main-content__singleplayer-menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main-content__singleplayer-menu-screen-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  #main-content__singleplayer-menu-screen-button-container__middle-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .singleplayer-menu-screen-button {
    margin: 16px;
    width: 90% !important;
    height: 50% !important;
  }
}

#main-content__singleplayer-menu-screen-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end;
}

#main-content__singleplayer-menu-screen-button-container__middle-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.singleplayer-menu-screen-button {
  height: 8vw;
  border: 1px #ffffff solid;
  background-repeat: no-repeat;
  background-size: 35%;
  transition-duration: var(--transition-duration-short);
  margin: 16px 0;
  width: 100%;
  overflow: hidden;
  flex-flow: column wrap;
}

.singleplayer-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: inherit;
}
.singleplayer-menu-screen-button__description {
  font-size: min(24px, 1.5vw);
  color: #ffffff;
  text-wrap: wrap;
  margin: 0 0 0 4px;
  text-overflow: clip;
  text-align: left;
  font-family: inherit;
}

#singleplayer-menu-screen-button--easy {
  background-color: var(--color-singleplayer-menu-easy);
  background-image: url("../assets/images/easy.svg");
  background-size: auto 100%;
  background-position-x: 32px;
  width: 48%;
  background-repeat: no-repeat;
}

#singleplayer-menu-screen-button--standard {
  background-color: var(--color-singleplayer-menu-standard);
  background-image: url("../assets/images/standard.svg");
  background-size: auto 100%;
  background-position-x: 32px;
  height: 100%;
  background-repeat: no-repeat;
}

#singleplayer-menu-screen-button--custom {
  background-color: var(--color-singleplayer-menu-custom);
  background-image: url("../assets/images/custom.svg");
  background-size: auto 100%;
  background-position-x: 32px;
  width: 48%;
  background-repeat: no-repeat;
}

#singleplayer-menu-screen-button--back {
  background-color: var(--color-neutral);
  background-image: url("../assets/images/back.svg");
  background-size: auto 100%;
  background-position-x: 32px;
  height: 10%;
  background-repeat: no-repeat;
}

.singleplayer-menu-screen-button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}
