@font-face {
  font-family: "Computer Modern Unicode Serif";
  src: url("../assets/fonts/computermodernunicode.ttf");
}

@font-face {
  font-family: "Computer Modern Math Italic";
  src: url("../assets/fonts/computermodernmathitalic.ttf");
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Noto Sans", sans-serif;
  font-variant-ligatures: none;
  font-size: 100%;
  background-color: #000000;
}

:root {
  --color-singleplayer: #00a032;
  --color-multiplayer: #00a06b;

  --color-singleplayer-menu-easy: #00851d;
  --color-singleplayer-menu-standard: #b62a00;
  --color-singleplayer-menu-custom: #9802b6;

  --color-multiplayer-menu-default: #3867e9;
  --color-multiplayer-menu-custom: #7b25ec;

  --color-dangerous: #dd0000;
  --color-neutral: #292929;

  --color-arrow-key-focused: #ffc400;

  --color-text-light: #ffffff;
  --color-text-dark: #000000;

  --transition-duration-short: 250ms;
}

/* GLOBAL */
#main-content-container {
  width: 100vw;
  height: 100vh;
}

.background--neutral {
  background-color: var(--color-neutral);
}

.text--link {
  color: var(--color-text-light) !important;
}

.text--centered {
  text-align: center;
}

.text--light {
  color: var(--color-text-light);
}

.text--dark {
  color: var(--color-text-dark);
}

.text--monospace,
code {
  font-family: "Noto Sans Mono", monospace;
}

.option-button--small {
  color: var(--color-text-light);
  font-size: 200%;
  text-align: left;
  margin: 4px;
  background-color: transparent;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
  border-top: none;
  width: 100%;
}

.option-button--left-bordered {
  border-left: 1px solid #ffffff;
  border-right: none;
  border-top: 0;
  border-bottom: 0;
}

.option-button--right-bordered {
  border-right: 1px solid #ffffff;
  border-left: none;
  border-top: 0;
  border-bottom: 0;
}

.option-button--small:hover {
  background-color: rgb(255, 255, 255, 0.75);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

.button__strikethrough-bar {
  rotate: 330deg;
  background-color: #ff0000;
  color: var(--color-text-light);
  font-size: 300%;
  font-family: inherit;
  width: 750px;
  padding: 8px;
  top: -66.6%;
  position: relative;
}

.button--arrow-key-focused {
  z-index: 90;
  outline: 8px solid var(--color-arrow-key-focused);
}

.button--top-aligned-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.pointer-cursor {
  cursor: pointer;
}

button {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}
/* MAIN MENU SCREEN */

#main-content__main-menu-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: grid;
}

#main-content__main-menu-screen {
  grid-template-columns: [column1-start] 5% [column1-end column2-start] 45% [column2-end column3-start] 45% [column3-end column4-start] 5% [column4-end];
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
  display: grid;
  /* align-items: center;
  flex-direction: column; */
}

#main-content__main-menu-screen-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end;
}

#main-content__main-menu-screen__logo-container {
  grid-column: column2-start / column2-end;
  grid-row: row2-start / row2-end;
  user-select: none;
}

@media only screen and (max-width: 1200px) {
  #main-content__main-menu-screen {
    display: flex;
    flex-direction: column;
  }

  .main-menu-screen-button {
    margin: 16px;
    width: 90% !important;
    height: 50% !important;
  }

  #main-content__main-menu-screen__logo {
    opacity: 0;
  }

  #main-menu-screen-button--singleplayer {
    background-position: 0 70% !important;
  }
}

.main-menu-screen-button {
  /* width: 60vw;
  height: 8vw; */
  border: 1px #ffffff solid;
  background-repeat: no-repeat;
  transition-duration: var(--transition-duration-short);
  margin: 16px;
  width: 100%;
  overflow: hidden;
  flex-flow: column wrap;
}

#main-menu-screen-button--singleplayer {
  background-color: var(--color-singleplayer);
  background-image: url("../assets/images/singleplayerbuttonbackground.png");
  background-position: 0 130%;
  height: 60%;
}

#main-menu-screen-button--multiplayer {
  background-color: var(--color-multiplayer);
  background-image: url("../assets/images/multiplayerbuttonbackground.png");
  background-position: 0 70%;
  height: 30%;
}

#main-menu-screen-button--settings {
  background-color: var(--color-neutral);
  background-position: 0 70%;
  height: 10%;
}

.main-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: inherit;
}
.main-menu-screen-button__description {
  font-size: min(24px, 1.5vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  white-space: nowrap;
  text-wrap: pretty;
  text-overflow: clip;
  text-align: left;
  font-family: inherit;
}

.main-menu-screen-button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

/* SINGLEPLAYER MENU SCREEN */
#main-content__singleplayer-menu-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: grid;
}

#main-content__singleplayer-menu-screen {
  grid-template-columns: [column1-start] 5% [column1-end column2-start] 45% [column2-end column3-start] 45% [column3-end column4-start] 5% [column4-end];
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
  display: grid;
}

@media only screen and (max-width: 1200px) {
  #main-content__singleplayer-menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main-content__singleplayer-menu-screen-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  #main-content__singleplayer-menu-screen-button-container__middle-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .singleplayer-menu-screen-button {
    margin: 16px;
    width: 90% !important;
    height: 50% !important;
  }
}

#main-content__singleplayer-menu-screen-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end;
}

#main-content__singleplayer-menu-screen-button-container__middle-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.singleplayer-menu-screen-button {
  height: 8vw;
  border: 1px #ffffff solid;
  background-repeat: no-repeat;
  background-size: 35%;
  transition-duration: var(--transition-duration-short);
  margin: 16px 0;
  width: 100%;
  overflow: hidden;
  flex-flow: column wrap;
}

.singleplayer-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: inherit;
}
.singleplayer-menu-screen-button__description {
  font-size: min(24px, 1.5vw);
  color: #ffffff;
  text-wrap: pretty;
  margin: 0 0 0 4px;
  text-overflow: clip;
  text-align: left;
  font-family: inherit;
}

#singleplayer-menu-screen-button--easy {
  background-color: var(--color-singleplayer-menu-easy);
  background-image: url("../assets/images/easysingleplayerbuttonbackground.png");
  background-position: 0 120%;
  background-size: 110%;
  width: 48%;
}

#singleplayer-menu-screen-button--standard {
  background-color: var(--color-singleplayer-menu-standard);
  background-image: url("../assets/images/standardsingleplayerbuttonbackground.png");
  background-position: 0 120%;
  background-size: 110%;
  height: 60%;
}

#singleplayer-menu-screen-button--custom {
  background-color: var(--color-singleplayer-menu-custom);
  /* background-image: url("../assets/images/standardsingleplayerbuttonbackground.png"); */
  background-position: 0 70%;
  width: 48%;
}

#singleplayer-menu-screen-button--back {
  background-color: var(--color-neutral);
  background-position: 0 70%;
  height: 10%;
}

.singleplayer-menu-screen-button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

/* (CUSTOM) SINGLEPLAYER INTERMISSION SCREEN */
#main-content__custom-singleplayer-intermission-screen-container {
  display: grid;
  grid-template-columns: [column1-start] 80px [column1-end column2-start] 120px [column2-end column3-start] auto [column3-end column4-start] 80px [column4-end];
  grid-template-rows: [row1-start] 40px [row1-end row2-start] auto [row2-end];
  height: 100%;
  width: 100%;
  /* background-color: #000000; */
}

#main-content__custom-singleplayer-intermission-screen-container__sidebar {
  grid-column: column2-start / column2-end;
  grid-row: row2-start / row2-end;
}

#main-content__custom-singleplayer-intermission-screen-container__sidebar.option-button--left-bordered {
  width: 100%;
}

#main-content__custom-singleplayer-intermission-screen-container__content {
  grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end;
  margin-left: 48px;
}

.custom-singleplayer__content-fieldset {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: var(--color-neutral);
  font-size: 150%;
}

.custom-singleplayer__content-fieldset legend {
  background-color: var(--color-neutral);
  padding: 0 8px;
}

.custom-singleplayer__content-fieldset label,
.custom-singleplayer__content-fieldset input {
  margin: 4px 0;
}

.custom-singleplayer__content-input--text {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 150%;
  font-family: inherit;
}
.custom-singleplayer__content-input--button {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 150%;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
}
.custom-singleplayer__content-input--button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

#main-content__custom-singleplayer-intermission-screen-container__options-container {
  width: 100%;
  height: 100vh;
  color: var(--color-neutral);
}
#main-content__custom-singleplayer-intermission-screen-container__options {
  font-size: 150%;
  padding: 8px;
  margin: 32px 0;
  border: 2px solid #ffffff;
  overflow-y: scroll;
  height: 90%;
  background-color: var(--color-neutral);
  color: var(--color-text-light);
}

.custom-singleplayer-game-input--text {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 100%;
  font-family: inherit;
}

#main-content__custom-singleplayer-intermission-screen-container__left
  .option-button--left-bordered {
  margin-left: 80px;
  margin-top: 40px;
}

/* MULTIPLAYER MENU */
#main-content__multiplayer-menu-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: grid;
}

#main-content__multiplayer-menu-screen {
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: [column1-start] 5% [column1-end column2-start] 45% [column2-end column3-start] 45% [column3-end column4-start] 5% [column4-end];
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
}

#main-content__multiplayer-menu-screen-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end;
  height: 100%;
}

.multiplayer-menu-screen-button {
  height: 8vw;
  border: 1px #ffffff solid;
  background-repeat: no-repeat;
  background-size: 35%;
  transition-duration: var(--transition-duration-short);
  margin: 16px;
  width: 100%;
  overflow: hidden;
  flex-flow: column wrap;
}

.multiplayer-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: inherit;
}
.multiplayer-menu-screen-button__description {
  font-size: min(24px, 1.5vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-wrap: pretty;

  white-space: nowrap;
  text-overflow: clip;
  text-align: left;
  font-family: inherit;
}

#multiplayer-menu-screen-button--default {
  background-color: var(--color-multiplayer-menu-default);
  background-position: 0 70%;
  height: 60%;
}

#multiplayer-menu-screen-button--custom {
  background-color: var(--color-multiplayer-menu-custom);
  background-position: 0 70%;
  height: 30%;
  cursor: not-allowed;
}

#multiplayer-menu-screen-button--back {
  background-color: var(--color-neutral);
  background-position: 0 70%;
  height: 10%;
}

#multiplayer-menu-screen-button--default:hover,
#multiplayer-menu-screen-button--back:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
  #main-content__multiplayer-menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main-content__multiplayer-menu-screen-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: unset;
  }

  .multiplayer-menu-screen-button {
    margin: 16px;
    width: 90% !important;
    height: 50% !important;
  }

  #multiplayer-menu-screen-button--custom .button__strikethrough-bar {
    position: relative;
    top: -50px;
  }
}

/* MULTIPLAYER INTERMISSION */
#main-content__multiplayer-intermission-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* grid-template-columns: [column1-start] 300px [column1-end column2-start] auto [column2-end column3-start] 300px [column3-end];
  grid-template-rows: [row1-start] 100px [row1-end row2-start] 50vh [row2-end row3-start] auto [row3-end]; */
}

#main-content__multiplayer-intermission-screen-container__left {
  /* grid-column: column1-start / column3-end; */
  /* grid-row: row1-start / row1-end; */
  width: 25%;
  display: flex;
  align-items: center;
}

#main-content__multiplayer-intermission-screen-container__center {
  /* grid-row: row2-start / row2-end; */
  width: 50%;
}

#main-content__multiplayer-intermission-screen-container__right {
  /* grid-column: column3-start / column3-end;
  grid-row: row2-start / row2-end; */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* #main-content__multiplayer-intermission-screen-container__player-list {
  border: 2px solid #ffffff;
  padding: 4px;
  width: 95%;
  display: block;
  height: 120px;
  overflow: auto;
} */

#main-content__multiplayer-intermission-screen-container__chat {
  border: 2px solid #ffffff;
  /* padding: 4px; */
  height: 75%;
  min-height: fit-content;
  display: block;
  width: 100%;
  background-color: var(--color-neutral);
}

#main-content__multiplayer-intermission-screen-container__chat__messages {
  height: 95%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
}

#main-content__multiplayer-intermission-screen-container__chat__messages > div {
  margin: 0 2px;
}

#main-content__multiplayer-intermission-screen-container__chat__entry {
  width: 100%;
  background-color: transparent;
}

#main-content__multiplayer-intermission-screen-container__player-list {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

#main-content__multiplayer-intermission-screen-container__player-list__toggle-list {
  text-decoration: underline;
  cursor: pointer;
}

#main-content__multiplayer-intermission-screen-container__chat__player-list {
  display: none;
  height: 95%;
  overflow-x: hidden;
  width: 100%;
  margin: 2px;
}

.main-content__multiplayer-intermission-screen-container__status-indicator:nth-of-type(
    2
  ) {
  border-top: 2px solid #ffffff;
}

#chat-message {
  width: calc(100% - 86px);
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: inherit;
  margin: 0 2px;
}

#message-send-button {
  width: 70px;
  background-color: transparent;
  border: 2px solid white;
  color: #ffffff;
  font-family: inherit;
}

#main-content__multiplayer-intermission-screen-container__status {
  height: 75%;
  overflow: hidden;
  width: 100%;
  margin: 2px;
  border: 2px solid #ffffff;
  background-color: var(--color-neutral);
}

.main-content__multiplayer-intermission-screen-container__status-indicator {
  position: relative;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-indicator-label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
}

.ranking-placement {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ranking-placement:nth-of-type(2n) {
  background-color: #3a3a3a;
}

.ranking-placement--left {
  display: flex;
  flex-direction: row;
}

.ranking-placement--right {
  display: flex;
  flex-direction: column;
}

#main-content__multiplayer-intermission-screen-container__game-status-ranking {
  width: 100%;
  padding: 2px;
}

.multiplayer-screen__sidebar-item {
  width: 120px;
  color: var(--color-text-light);
  font-size: 200%;
  text-align: left;
  margin: 4px;
  background-color: transparent;
  border-left: 1px solid #ffffff;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
  border-top: none;
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: 40px;
  left: 80px;
}

.multiplayer-screen__sidebar-item:hover {
  background-color: rgb(255, 255, 255, 0.75);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

.multiplayer-screen__sidebar-item--selected {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

/* GAME OVER SCREEN */
#main-content__game-over-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
}

#main-content__game-over-screen {
  display: grid;
  grid-template-columns: [column1-start] 80px [column1-end column2-start] auto [column2-end column3-start] 80px [column3-end];
  grid-template-rows: [row1-start] 40px [row1-end row2-start] 25vh [row2-end row3-start] 30vh [row3-end row4-start] 10vw [row4-end row5-start] auto [row5-end];
  height: 100%;
  width: 100%;
}

#main-content__game-over-screen__stats {
  border: 1px #ffffff solid;
  grid-row: row2-start / row2-end;
  grid-column: column2-start / column2-end;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
  height: 100%;
  /* justify-content: space-between; */
}

#main-content__game-over-screen__stats--detailed {
  border: 1px #ffffff solid;
  grid-row: row3-start / row3-end;
  grid-column: column2-start / column2-end;
  margin: 24px 8px 8px 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#main-content__game-over-screen__stats > span {
  width: 45%;
  margin: 0 8px;
}

#main-content__game-over-screen__action-button-container {
  display: flex;
  grid-row: row4-start / row4-end;
  grid-column: column2-start / column2-end;
  justify-content: space-between;
  margin: 40px 8px 8px;
  height: 12.5vh;
  min-height: fit-content;
}

.game-over-screen-button {
  width: 47.5%;
  height: 100%;
  overflow: hidden;
  flex-flow: column wrap;
  border: 1px #ffffff solid;
  transition-duration: var(--transition-duration-short);
}

.game-over-screen-button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

#game-over-screen-button--retry {
  background-color: var(--color-neutral);
  background-position: 0 70%;
}

#game-over-screen-button--back {
  background-color: var(--color-neutral);
  background-position: 0 70%;
}

.game-over-screen-button__title {
  font-size: min(48px, 4.5vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: inherit;
}
.game-over-screen-button__description {
  font-size: min(24px, 1.5vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  white-space: nowrap;
  text-wrap: pretty;

  overflow: hidden;
  text-overflow: clip;
  text-align: left;
  font-family: inherit;
}

.main-content__game-over-screen__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 16px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content__game-over-screen--field {
  width: 100%;
  font-size: 175%;
  display: flex;
  justify-content: space-between;
  padding: 4px 0 0 0;
}

#main-content__game-over-screen__stats--detailed hr {
  width: 100%;
}

/* SETTINGS SCREEN */
#main-content__settings-screen-container {
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
}
#main-content__settings-screen {
  display: grid;
  grid-template-columns: [column1-start] 80px [column1-end column2-start] 120px [column2-end column3-start] auto [column3-end column4-start] 80px [column4-end];
  grid-template-rows: [row1-start] 40px [row1-end row2-start] auto [row2-end];
  height: 100%;
  width: 100%;
}
#settings-screen__sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-row: row1-end / row2-start;
  grid-column: column2-start / column2-end;
}
.settings-screen__sidebar-item {
  width: 100%;
  color: var(--color-text-light);
  font-size: 200%;
  text-align: left;
  margin: 4px;
  background-color: transparent;
  border-left: 1px solid #ffffff;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.settings-screen__sidebar-item:hover {
  background-color: rgb(255, 255, 255, 0.75);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

.settings-screen__sidebar-item--selected {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  border-left: 1px solid #ffffff;
}

#settings-screen__content {
  grid-row: row1-end / row2-start;
  grid-column: column3-start / column3-end;
  margin-left: 48px;
}

.settings-screen__content-secondary-screen {
  width: 100%;
  height: 95vh;
  color: var(--color-text-light);
  font-size: 100%;
  overflow-y: auto;
}

.settings-screen__content-fieldset {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: var(--color-neutral);
  font-size: 150%;
}

.settings-screen__content-fieldset legend {
  background-color: var(--color-neutral);
  padding: 0 8px;
}

.settings-screen__content-fieldset label,
.settings-screen__content-fieldset input {
  margin: 4px 0;
}

.settings-screen__content-input--text {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 100%;
  font-family: inherit;
}

.settings-screen__content-input--button {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 150%;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
}

.settings-screen__content-input--button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

/* QUICK MENU */
#main-content__quick-menu-container {
  z-index: 999;
  position: absolute;
  bottom: 0;
}

#quick-menu__toggle-button {
  background-color: var(--color-neutral);
  color: var(--color-text-light);
  width: 48px;
  height: 48px;
  font-size: 225%;
  border: 1px #ffffff solid;
}

.quick-menu__content-button {
  width: 48px;
  height: 48px;
  font-size: 225%;
  font-family: inherit;
  word-wrap: break-word;
}

#quick-menu__content-container {
  display: flex;
  flex-direction: column;
}

#quick-menu__content-container > button {
  margin: 0 0 8px 0;
}

#quick-menu__content-button--quit {
  background-color: var(--color-dangerous);
  border: 1px #ffffff solid;
  color: var(--color-text-light);
}

#quick-menu__content-button--settings {
  background-color: #3a3abb;
  border: 1px #ffffff solid;
  color: var(--color-text-light);
}

#quick-menu__content-button--on-screen-keyboard {
  background-color: #17a71e;
  border: 1px #ffffff solid;
  color: var(--color-text-light);
}

/* STATUS TRAY */
#status-tray-container {
  background: #000000cc;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: none; /* original value */
  position: absolute;
  top: 0;
}

#status-tray {
  width: max(25%, 360px);
  height: 100%;
  background-color: var(--color-neutral);
  border: 1px solid #ffffff;
}

#status-tray-text-container {
  width: 80%;
  margin: auto;
  height: 90%;
  font-size: 125%;
  color: var(--color-text-light);
}

/* CHAT TRAY */
#chat-tray-container {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: none; /* original value */
  position: absolute;
  top: 0;
}

#chat-tray {
  width: max(25%, 360px);
  height: 100%;
  right: 0;
  background-color: var(--color-neutral);
  border: 1px solid #ffffff;
  position: absolute;
}

#chat-tray-text-container {
  width: 90%;
  margin: auto;
  font-size: 125%;
  color: var(--color-text-light);
}

#chat-tray-message-container {
  width: 90%;
  margin: auto;
  height: 70%;
  font-size: 125%;
  display: flex;
  flex-direction: column-reverse;
  color: var(--color-text-light);
  overflow-y: auto;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

#chat-tray-input-container {
  width: 90%;
  margin: auto;
  height: 28px;
  display: flex;
}

#chat-tray-input {
  width: 85%;
  height: 24px;
}

#chat-tray-input-send-button {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-family: inherit;
  height: 28px;
  width: 96px;
}

#chat-tray-error-container {
  width: 90%;
  color: var(--color-text-light);
  margin: auto;
  display: flex;
  font-size: 125%;
}

#chat-tray-separator {
  width: 90%;
  margin: auto;
}

.chat-tray__message {
  color: var(--color-text-light);
}

.chat-tray__message--alert-score {
  border: 2px #ab93db solid;
  margin: 4px 0;
  padding: 4px;
}

.chat-tray__message-alert-score__top {
  display: flex;
  justify-content: space-between;
}

.chat-tray__message-alert-score__middle {
  font-size: 200%;
  text-align: right;
}

.chat-tray__message-alert-score__bottom {
  font-size: 100%;
  text-align: right;
}

#chat-tray-input {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 125%;
  font-family: inherit;
}

/* OTHERS */

/* TOAST NOTIFICATIONS */
#main-content__toast-notification-container {
  z-index: 2005;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.main-content__toast-notification {
  z-index: 2005;
  overflow: hidden;
}

.toast-notification {
  background-color: var(--color-neutral);
  color: var(--color-text-light);
  border: 2px var(--color-text-light) solid;
  width: 400px;
  height: 60px;
  position: absolute;
  margin: 8px;
}

.toast-notification--position-2 {
  top: 2.5%;
  right: 1%;
}

.toast-notification--position-8 {
  bottom: 2.5%;
  right: 1%;
}
/* POPUP NOTIFICATIONS */
#main-content__popup-notification-container {
  z-index: 101;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  pointer-events: none;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-notification {
  width: min(720px, 80%);
  height: fit-content;
  background-color: var(--color-neutral);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 2px solid var(--color-text-light);
}

.popup-notification__title {
  height: 12.5%;
  width: 100%;
  font-size: 250%;
}

.popup-notification__content {
  height: 77.5%;
  width: 100%;
  font-size: 125%;
}

.popup-notification__button-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: end;
}

.popup-notification__button-container button {
  background-color: #181818;
  border: 1px solid #ffffff;
  color: var(--color-text-light);
  font-size: 200%;
  font-family: inherit;
  transition-duration: var(--transition-duration-short);
}

.popup-notification__button-container button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

/* ON SCREEN KEYBOARD */
#on-screen-keyboard-container {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  top: 0;
  pointer-events: none;
  touch-action: none;
}

#on-screen-keyboard-wrapper {
  width: 80%;
  height: 10%;
}

#on-screen-keyboard {
  display: flex;
  flex-direction: column;
  touch-action: initial;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  padding: 0 16px 16px 16px;
  border: 2px solid var(--color-neutral);
  position: relative;
}

.on-screen-keyboard-button--regular {
  width: 7.5%;
  height: 100%;
}

.on-screen-keyboard-button--large {
  width: 30%;
  height: 100%;
}

.on-screen-keyboard-button {
  background-color: var(--color-neutral);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  font-family: inherit;
  font-size: 3vh;
}

.on-screen-keyboard-button:hover {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
}

#on-screen-keyboard__row-1 {
  width: 100%;
  height: 50%;
  margin-bottom: 4px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

#on-screen-keyboard__row-2 {
  width: 100%;
  height: 50%;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.on-screen-keyboard-button--small {
  width: 2.5%;
  height: 100%;
  font-size: 75%;
}
/* USER INFO */
#main-content__user-menu-small-display {
  background-color: var(--color-neutral);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  opacity: 0.5;
}

#main-content__user-menu-small-display:hover {
  opacity: 1;
}

#main-content__user-menu-container {
  z-index: 98;
  position: absolute;
  top: 0;
  right: 0;
}

#main-content__user-menu-small-display {
  width: 320px;
}

/* STATUS INDICATORS */
#main-content__status-indicator-menu-container {
  z-index: 999;
  position: absolute;
  top: 50%;
  background-color: transparent;
  left: 4px;
}

/* VERSION NUMBER */
#version-number-container {
  z-index: 1001;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: #00000000;
  color: #ffffff;
  left: 0;
  top: 0;
}

#version-number {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 125%;
}

/* OPENING SCREEN */
#opening-screen-container {
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
}

#opening-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

#opening-screen__authentication-modal {
  font-size: 150%;
  background-color: var(--color-neutral);
  border: 2px solid #ffffff;
  width: 50%;
  padding: 4px;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

#opening-screen > div {
  margin: 8px 0;
}

#opening-screen img {
  transform: scale(0.75);
}

.link-button {
  border: none;
  text-decoration: underline;
  color: #555555;
  background-color: #000000;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.link-button:hover {
  color: #aaaaaa;
  cursor: pointer;
}

.authentication-modal__login-form-element {
  margin: 8px 0;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.authentication-modal__login-form-element input {
  width: 80%;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

/* USER CARD */
#main-content__user-card-container {
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1998;
  top: 0;
  position: absolute;
  left: 0;
}

#main-content__user-card {
  min-width: 40vw;
  height: 240px;
  padding: 8px;
  background-color: #181818;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#user-card__loading,
#user-card__error {
  background-color: #181818;
  z-index: 1999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#user-card__play-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user-card__rank {
  font-size: 125%;
}

#user-card__username {
  font-size: 250%;
}

.user-card__data__mode {
  text-align: center;
  background-color: var(--color-neutral);
  border: 1px solid #ffffff;
  width: 30%;
  padding: 8px;
}

.user-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

#user-card__player-data {
  text-align: left;
}

.user-card__close-button,
.user-card__open-in-new-button {
  text-align: right;
  max-height: fit-content;
  cursor: pointer;
}

.user-card__score {
  font-size: 300%;
  padding: 4px;
}

.user-card__score--detailed {
  font-size: 100%;
}
.user-card__diagnostic-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
