/* TOAST NOTIFICATIONS */
#main-content__toast-notification-container {
  z-index: 2005;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.main-content__toast-notification {
  z-index: 2005;
  overflow: hidden;
}

.toast-notification {
  background-color: var(--color-neutral);
  color: var(--color-text-light);
  border: 2px var(--color-text-light) solid;
  width: 400px;
  height: 60px;
  position: absolute;
  margin: 8px;
}

.toast-notification--position-2 {
  top: 2.5%;
  right: 1%;
}

.toast-notification--position-8 {
  bottom: 2.5%;
  right: 1%;
}
