@font-face {
  font-family: "Computer Modern Unicode Serif";
  src: url("../assets/fonts/computermodernunicode.ttf");
}

@font-face {
  font-family: "Computer Modern Math Italic";
  src: url("../assets/fonts/computermodernmathitalic.ttf");
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Computer Modern Unicode Serif";
}

:root {
  --color-singleplayer: #00a032;
  --color-multiplayer: #00a06b;

  --color-singleplayer-menu-easy: #00851d;
  --color-singleplayer-menu-standard: #b62a00;

  --color-neutral: #292929;

  --color-text-light: #ffffff;
  --color-text-dark: #000000;
}

#main-content-container {
  width: 100vw;
  height: 100vh;
}

.background--neutral {
  background-color: var(--color-neutral);
}

.text--centered {
  text-align: center;
}

.text--light {
  color: var(--color-text-light);
}

.text--dark {
  color: var(--color-text-light);
}

/* MAIN MENU SCREEN */
#main-content__main-menu-screen-container {
  background-color: #000000;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [column1-start] 80px [column1-end column2-start] auto [column2-end column3-start] 80px [column3-end];
  grid-template-rows: [row1-start] 40px [row1-end row2-start] auto [row2-end row3-start] 40px [row3-end];
}

#main-content__main-menu-screen {
  grid-column: column2-start / column2-end;
  grid-row: row2-start / row2-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-content__main-menu-screen-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-menu-screen-button {
  width: 60vw;
  height: 8vw;
  border: 2px #ffffff solid;
  background-repeat: no-repeat;
  background-size: 35%;
  transition-duration: 250ms;
  margin: 16px;
}

.main-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: "Computer Modern Unicode Serif";
}
.main-menu-screen-button__description {
  font-size: min(16px, 1vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-align: left;
  font-family: "Computer Modern Unicode Serif";
}

#main-menu-screen-button--singleplayer {
  background-color: var(--color-singleplayer);
  background-image: url("../assets/images/singleplayerbuttonbackground.png");
  background-position: 0 70%;
}

#main-menu-screen-button--multiplayer {
  background-color: var(--color-multiplayer);
  background-image: url("../assets/images/multiplayerbuttonbackground.png");
  background-position: 0 70%;
}

#main-menu-screen--settings {
  background-color: var(--color-neutral);
  background-position: 0 70%;
}

.main-menu-screen-button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

/* SINGLEPLAYER MENU SCREEN */
#main-content__singleplayer-menu-screen-container {
  background-color: #000000;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [column1-start] 80px [column1-end column2-start] auto [column2-end column3-start] 80px [column3-end];
  grid-template-rows: [row1-start] 40px [row1-end row2-start] auto [row2-end];
}

#main-content__singleplayer-menu-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: column2-start / column2-end;
  grid-row: row2-start / row2-end;
}

#main-content__singleplayer-menu-screen-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singleplayer-menu-screen-button {
  width: 60vw;
  height: 8vw;
  border: 2px #ffffff solid;
  background-repeat: no-repeat;
  background-size: 35%;
  transition-duration: 250ms;
  margin: 16px;
}

.singleplayer-menu-screen-button__title {
  font-size: min(48px, 6vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  text-align: left;
  font-family: "Computer Modern Unicode Serif";
}
.singleplayer-menu-screen-button__description {
  font-size: min(16px, 1vw);
  color: #ffffff;
  margin: 0 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-align: left;
  font-family: "Computer Modern Unicode Serif";
}

#singleplayer-menu-screen-button--easy {
  background-color: var(--color-singleplayer-menu-easy);
  background-image: url("../assets/images/easysingleplayerbuttonbackground.png");
  background-position: 0 70%;
}

#singleplayer-menu-screen-button--standard {
  background-color: var(--color-singleplayer-menu-standard);
  background-image: url("../assets/images/standardsingleplayerbuttonbackground.png");
  background-position: 0 70%;
}

#singleplayer-menu-screen-button--back {
  background-color: var(--color-neutral);
  background-position: 0 70%;
}

.singleplayer-menu-screen-button:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}

/* GAME OVER SCREEN */
#main-content__game-over-screen-container {
  background-color: #000000;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [column1-start] 80px [column1-end column2-start] auto [column2-end column3-start] 80px [column3-end];
  grid-template-rows: [row1-start] 40px [row1-end row2-start] auto [row2-end];
}

#main-content__game-over-screen {
  display: flex;
  grid-row: row2-start / row2-end;
  grid-column: column2-start / column2-end;
  justify-content: center;
}
#main-content__game-over-screen__stats {
  width: 60vw;
  border: 2px #ffffff solid;

  position: absolute;

  display: flex;
  align-items: center;
}

#main-content__game-over-screen__stats > div {
  width: 30vw;
  margin: 0 8px;
}
