<div id="main-content__game-over-screen-container">
  <div id="main-content__game-over-screen">
    Game Over! Score: <span id="main-content__game-over-screen__final-score"></span> <button
      id="main-content__game-over-screen__retry-button">Retry</button>
  </div>
</div>