<div id="main-content__game-over-screen-container">
  <div id="main-content__game-over-screen">
    <div id="main-content__game-over-screen__stats" class="background--neutral">
      <span>
        <span class="text--centered text--light" style="font-size:3vh">
          Score
        </span>
        <br>
        <span class="text--centered text--light" style="font-size:15vh"
          id="main-content__game-over-screen__stats__score"></span>
        <br>
        <span class="text--centered text--light" style="font-size:3vh"
          id="main-content__game-over-screen__stats__score-rank"></span>
      </span>
      <span style="text-align:right;font-size:5vh;">
        <span class="text--centered text--light" id="main-content__game-over-screen__stats__game-mode"></span>
        <br><span class="text--centered text--light" id="main-content__game-over-screen__stats__enemies"></span>
        <br><span class="text--centered text--light" id="main-content__game-over-screen__stats__time"></span>
      </span>
    </div>
    <div id="main-content__game-over-screen__action-button-container">
      <button class="game-over-screen-button" id="game-over-screen-button--retry">
        <div class="game-over-screen-button__title">Retry</div>
        <div class="game-over-screen-button__description">Play Singleplayer again.
        </div>
      </button>
      <button class="game-over-screen-button" id="game-over-screen-button--back">
        <div class="game-over-screen-button__title">Back</div>
        <div class="game-over-screen-button__description">Go back to the main menu.
        </div>
      </button>
    </div>
  </div>
</div>