<div id="main-content__main-menu-screen-container">
  <div id="main-content__main-menu-screen">
    <div id="main-content__main-menu-screen-button-container">
      <button class="main-menu-screen-button" id="main-menu-screen-button--singleplayer">
        <div class="main-menu-screen-button__title">Singleplayer</div>
        <div class="main-menu-screen-button__description">Test your mental math skills and kill enemies by
          yourself.<br>Can you get a higher score?
        </div>

      </button>
      <button class="main-menu-screen-button" id="main-menu-screen-button--multiplayer">
        <div class="main-menu-screen-button__title">Multiplayer</div>
        <div class="main-menu-screen-button__description">Test your mental math skills and race against other to kill
          your enemies and send them to other players.<br>Fun for the whole nerd group!
        </div>
      </button>
      <button class="main-menu-screen-button">

      </button>
      <button class="main-menu-screen-button">

      </button>

    </div>
  </div>
</div>