<div id="on-screen-keyboard-container">
  <div id="on-screen-keyboard-wrapper">
    <div id="on-screen-keyboard">
      <div id="on-screen-keyboard__row-1">
        <button id="on-screen-keyboard__button-1"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">1</button>
        <button id="on-screen-keyboard__button-2"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">2</button>
        <button id="on-screen-keyboard__button-3"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">3</button>
        <button id="on-screen-keyboard__button-4"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">4</button>
        <button id="on-screen-keyboard__button-5"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">5</button>
        <button id="on-screen-keyboard__button-6"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">6</button>
        <button id="on-screen-keyboard__button-7"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">7</button>
        <button id="on-screen-keyboard__button-8"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">8</button>
        <button id="on-screen-keyboard__button-9"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">9</button>
        <button id="on-screen-keyboard__button-0"
          class="on-screen-keyboard-button on-screen-keyboard-button--regular">0</button>
      </div>
      <div id="on-screen-keyboard__row-2">
        <button id="on-screen-keyboard__button-send"
          class="on-screen-keyboard-button on-screen-keyboard-button--large">Send</button>
        <button id="on-screen-keyboard-button--increase-size"
          class="on-screen-keyboard-button on-screen-keyboard-button--small">+H</button>
        <button id="on-screen-keyboard-button--decrease-size"
          class="on-screen-keyboard-button on-screen-keyboard-button--small">-H</button>
        <button id="on-screen-keyboard__delete-back"
          class="on-screen-keyboard-button on-screen-keyboard-button--large">Delete</button>
      </div>
    </div>
  </div>
</div>