<div id="main-content__quick-menu-container">
  <div id="main-content__quick-menu">
    <div id="quick-menu__content-container" style="display:none;">
      <button class="quick-menu__content-button" id="quick-menu__content-button--quit">Quit</button>
      <button class="quick-menu__content-button" id="quick-menu__content-button--settings">Settings</button>
    </div>
    <button id="quick-menu__toggle-button">≡</button>
  </div>
</div>