<div id="main-content__quick-menu-container">
  <div id="main-content__quick-menu">
    <div id="quick-menu__content-container" style="display:none;">
      <button title="Quits the current game." class="quick-menu__content-button"
        id="quick-menu__content-button--quit">QT</button>
      <button title="Opens the settings." class="quick-menu__content-button"
        id="quick-menu__content-button--settings">ST</button>
      <button title="Toggle the on screen keyboard's visibility." class="quick-menu__content-button"
        id="quick-menu__content-button--on-screen-keyboard">KB</button>
    </div>
    <button id="quick-menu__toggle-button">≡</button>
  </div>
</div>