<div id="main-content__settings-screen-container">
  <div id="main-content__settings-screen">
    <div id="settings-screen__sidebar">
      <button class="settings-screen__sidebar-item" title="Go back to the main menu."
        id="settings-screen__sidebar-item--back">Back</button>
      <br>
      <button class="settings-screen__sidebar-item" title="Change how you represent yourself in the game."
        id="settings-screen__sidebar-item--online">Online</button>
      <button class="settings-screen__sidebar-item" title="Change how the game looks."
        id="settings-screen__sidebar-item--video">Video</button>
      <button class="settings-screen__sidebar-item" title="Change how the game sounds."
        id="settings-screen__sidebar-item--audio">Audio</button>

    </div>
    <div id="settings-screen__content">
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--online">
        <fieldset class="settings-screen__content-fieldset">
          <legend>Account</legend>
          <div class="settings-screen__content--online--unauthenticated">
            <form onsubmit="false">
              <label style="margin:4px 0" for="settings-screen__content--online__username"
                title="Put the username for your account here.">Username:</label> <input style="margin:4px 0"
                class="settings-screen__content-input--text" name="settings-screen__content--online__username"
                id="settings-screen__content--online__username" type="text">
              <br>
              <label style="margin:4px 0" for="settings-screen__content--online__password"
                title="Put the password for your account here.">Password:</label> <input style="margin:4px 0"
                class="settings-screen__content-input--text" name="settings-screen__content--online__password"
                id="settings-screen__content--online__password" type="password">
              <br>
              <input name="settings-screen__content--online__socket-id" id="settings-screen__content--online__socket-id"
                type="hidden">
              <br>
              <div style="width:100%;text-align:right;"><button style="padding:0px 32px;"
                  id="settings-screen__content--online__submit"
                  class="settings-screen__content-input--button">Login</button></div>
            </form>
          </div>
          <div class="settings-screen__content--online--authenticated">
            <div style="text-align:center;display:flex;align-items: center;">
              Logged in as&nbsp;<span id="settings-screen__content--online__rank"></span>&nbsp;<span
                id="settings-screen__content--online__authenticated-username"></span>
            </div>
          </div>
        </fieldset>
        <br>
        <fieldset class="settings-screen__content-fieldset">
          <legend>Account Statistics</legend>
          <div class="settings-screen__content--online--unauthenticated">
            <div style="text-align:center;display:flex;align-items: center;">
              <div>Log in first to see your account statistics.</div>
            </div>
          </div>
          <div class="settings-screen__content--online--authenticated" style="width:100%;">
            <div style="display:flex;flex-direction: row;width:100%">
              <div style="display:flex;flex-direction:column;width:50%">
                <div class="settings-screen__content--account-stat-entry">
                  Username: <span id="user-account-stat--username"></span>
                </div>
                <div class="settings-screen__content--account-stat-entry">
                  Rank: <span id="user-account-stat--rank"></span>
                </div>
                <div class="settings-screen__content--account-stat-entry">
                  Level: <span id="user-account-stat--level"></span>
                </div>
              </div>
              <div style="display:flex;flex-direction:column;width:50%">
                <div class="settings-screen__content--account-stat-entry">
                  <div class="settings-screen__content--account-stat-entry">
                    Easy S. Player PB: <span id="user-account-stat--easy-singleplayer-record"></span>
                  </div>
                  <div class="settings-screen__content--account-stat-entry">
                    Standard S. Player PB: <span id="user-account-stat--singleplayer-singleplayer-record"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <br>
        <!-- <fieldset class="settings-screen__content-fieldset">
          <legend>Account Settings</legend>
          <div class="settings-screen__content--online--unauthenticated">
            <div style="text-align:center;display:flex;align-items: center;">
              <div>Log in first to set settings for your accounts.</div>
            </div>
          </div>
          <div class="settings-screen__content--online--authenticated">
            <div class="settings-screen__content--online--authenticated" style="width:100%;">
              <div style="display:flex;flex-direction: row;width:100%">
                <div style="display:flex;flex-direction:column;width:50%">1</div>
                <div style="display:flex;flex-direction:column;width:50%">2</div>
              </div>
            </div>

          </div>
        </fieldset> -->
      </div>
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--video">
        <fieldset title="Whether to use the times symbol (×) or middle dot (•) for the multiplication sign." class="settings-screen__content-fieldset">
          <legend>Multiplication Sign</legend>
          <input type="radio" id="settings-multiplcation-sign__times" name="settings__multiplication-sign" value="times">
          <label for="settings-multiplcation-sign__times">Times</label><br>
          <input type="radio" id="settings-multiplcation-sign__middle-dot" name="settings__multiplication-sign" value="middle-dot">
          <label for="settings-multiplcation-sign__middle-dot">Middle Dot</label><br>
        </fieldset>
        <br>
        <fieldset title="Whether to display the effect of your score display gradually rising." class="settings-screen__content-fieldset">
          <legend>Beautiful Score Display</legend>
          <input type="radio" id="settings-beautiful-score-display__on" name="settings__beautiful-score-display" value="on">
          <label for="settings-beautiful-score-display__on">On</label><br>
          <input type="radio" id="settings-beautiful-score-display__off" name="settings__beautiful-score-display" value="off">
          <label for="settings-beautiful-score-display__off">Off</label><br>
        </fieldset>
      </div>
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--audio"></div>
    </div>
  </div>
</div>