<div id="main-content__settings-screen-container">
  <div id="main-content__settings-screen">
    <div id="settings-screen__sidebar">
      <button class="settings-screen__sidebar-item" title="Go back to the main menu."
        id="settings-screen__sidebar-item--back">Back</button>
      <br>
      <button class="settings-screen__sidebar-item" title="Change how you represent yourself in the game."
        id="settings-screen__sidebar-item--online">Online</button>
      <button class="settings-screen__sidebar-item" title="Change how the game looks."
        id="settings-screen__sidebar-item--video">Video</button>
      <button class="settings-screen__sidebar-item" title="Change how the game sounds."
        id="settings-screen__sidebar-item--audio">Audio</button>

    </div>
    <div id="settings-screen__content">
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--online">
        online1
      </div>
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--video">video</div>
      <div class="settings-screen__content-secondary-screen" id="settings-screen__content--audio">audio</div>
    </div>
  </div>
</div>