<div id="main-content__user-menu-container">
  <div id="main-content__user-menu">
    <div id="user-menu__content-container" style="display:none;">
    </div>
    <!-- <button id="user-menu__toggle-button"></button> -->
    <div id="main-content__user-menu-small-display">
      <span id="main-content__user-menu-small-display__rank"></span>&nbsp;
      <span id="main-content__user-menu-small-display__username"></span>
    </div>
  </div>
</div>