<div id="main-content__user-menu-container">
  <div id="main-content__user-menu">
    <div id="user-menu__content-container" style="display:none;">
    </div>
    <!-- <button id="user-menu__toggle-button"></button> -->
    <div id="main-content__user-menu-small-display">
      <div style="display:flex;width:100%;">
        <div style="width:85%;padding:4px;">
          <span id="main-content__user-menu-small-display__rank"></span>
          <span id="main-content__user-menu-small-display__username"></span>
          <br>
          <span id="main-content__user-menu-small-display__level"></span>
        </div>
        <div style="width:15%;padding:2px 0">
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </div>
      </div>
    </div>
  </div>
</div>