@font-face {
    font-family: "Computer Modern Unicode Serif";
    src: url("../assets/fonts/computermodernunicode.ttf");
}

@font-face {
    font-family: "Computer Modern Math Italic";
    src: url("../assets/fonts/computermodernmathitalic.ttf");
}

@keyframes rainbow-cycle {
    12.5% {
        color: #ff0000;
    }
    25% {
        color: #ffa500;
    }
    37.5% {
        color: #ffff00;
    }
    50% {
        color: #7fff00;
    }
    62.5% {
        color: #00ffff;
    }
    75% {
        color: #0000ff;
    }
    87.5% {
        color: #9932cc;
    }
    100% {
        color: #ff1493;
    }
}

@keyframes fade-in-and-fade-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in-and-wait-and-fade-out {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    font-family: "Computer Modern Unicode Serif";
    padding: 0px;
    margin: 0px;
    user-select: none;
}

body {
    background-color: #eeeeee;
}

#game-container {
    overflow: hidden;
}

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: #eeeeee;
}

/*
    GLOBAL
*/

.math-font {
                                            font-family: 'Computer Modern Math Italic',
                                                'Computer Modern Unicode Serif';
                                        
}

.black-background {
    background-color: #000000;
}

#loading-screen__text {
                        color: var(--color-white);
                        text-decoration: none;
}

#text-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;                                                       
}


.loading-screen__text {
    color: var(--color-white);
}

.very-small-text {
    font-size: 12px;
}

.small-text {
    font-size: 16px;
}

.small-medium-text {
    font-size: 24px;
}

.medium-text {
    font-size: 32px;
}

.large-medium-text {
    font-size: 48px;
}

.large-text {
    font-size: 72px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pixi-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#bottom-user-interface-container {
    position: absolute;
    bottom: 5%;
    right: 1vw;
    width: 100%;
    z-index: 0;
    background: none;
}

#bottom-toolbar-container {
    border-top: 1px solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 54px;
    z-index: 0;
    background-color: #eeeeee;
}

#bottom-toolbar-text {
    font-size: 3vh;
    margin-left: 10px;
    
}

kbd {
    font-family: monospace;
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid #000000;
}

select {
    color: #000000;
}

.monospace-text {
    font-family: monospace;
}

.rainbow-cycle-text {
    animation-name: rainbow-cycle;
    animation-iteration-count: infinite;
    animation-duration: 0.25s;
}

.dangerous-button {
    background-color: #bb0000 !important;
    color:#ffffff !important;
    border-color: #dd0000 !important;
}

.disabled-button {
    cursor: not-allowed;
}

#status-bar-container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1000;
    position: absolute;
    margin: 0;
}

#text-modal-container {
    position: fixed;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#text-modal-content-container {
    width: 60%;
    margin: 15% auto;
    padding: 15px;
    background-color: #555555;
    border: #000000;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
}

.text-modal__title {
    font-size: 36px;
    color: #ffffff;
    background-color: inherit;
}

.text-modal__text {
    font-size: 24px;
    color: #ffffff;
    background-color: inherit;

}

.text-modal__content-text {
    background-color: #555555;border: none;color:white;padding:0;
}

.text-modal__button {
    width: 60%;
    height: 50px;
    font-size: 32px;
    background-color: #cdcdcd;
    color: #000000;
    bottom: 5%;
}

.text-modal__button-dangerous{
    background-color: #bb0000 !important;
    color:#ffffff !important;
    border-color: #dd0000 !important;
}

#user-information-modal-container {
    position: fixed;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#user-information-modal-content-container {
    width: 60%;
    margin: 15% auto;
    padding: 15px;
    background-color: #555555;
    border: #000000;
    border-style: solid;
    border-radius: 10px;
}

#user-information-modal-button {
    width: 60%;
    height: 50px;
    font-size: 32px;
    background-color: #cdcdcd;
    color: #000000;
    bottom: 5%;
}

#report-user-modal-container {
    position: fixed;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#report-user-modal-content-container {
    width: 60%;
    height: calc(max-content + 30px);
    margin: 15% auto;
    padding: 15px;
    background-color: #555555;
    border: #000000;
    border-style: solid;
    border-radius: 10px;
}

.report-user-modal-button {
    width: 45%;
    height: 50px;
    font-size: 32px;
    background-color: #cdcdcd;
    color: #000000;
    bottom: 5%;
   
}

.report-description-box {
    width: 100%;
    height: 40vh;
    font-size: 16px;
    text-align: left;
    padding-left:0;
    padding-top:0;
    vertical-align: top;
    resize: none;
}



input {
    font-size: 24px;
    height: 28px;
    background-color: #eeeeee;
    right: 5vw;
}

/*
	LOADING SCREEN
*/

#loading-screen-container {
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    MAIN MENU
*/

#mathematical-base-defenders-logo-container {
    position: absolute;
    left: 0.5vw;
    top: -5vh;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 10vmin;
    height: 10vmin;
}

#main-menu-screen-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
}

.main-menu-screen-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    background-color: #eeeeee;
    color: #000000;
}

.main-menu-screen-button {
    transition: all 0.1s ease-out;
}

.main-menu-screen-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

/*
    INFORMATION
*/

#information-screen-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
}


#information-screen-content-container {
    float: right;
    right: 1vw;
    width: 75vw;
    overflow-y: auto;
    z-index: -100;
    height: 100vh;    
}

.information-screen-navigation-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    transition: all 0.1s ease-out;
    color: #000000;
    background-color: #eeeeee;

}
.information-screen-navigation-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}
#information-screen-navigation-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
}

/*
	SINGLEPLAYER LOBBY
*/

#singleplayer-lobby-screen-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
}

.singleplayer-lobby-screen-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    color: #000000;
    background-color: #eeeeee;
}

.singleplayer-lobby-screen-button {
    transition: all 0.1s ease-out;
}

.singleplayer-lobby-screen-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

#singleplayer-screen-custom-mode-settings-screen-content-container {
    float: right;
    right: 1vw;
    width: 75vw;
    overflow-y: auto;
    height: 100vh;
    z-index: -100;
    font-size: 24px;
}

/*
	MULTIPLAYER LOBBY
*/

#multiplayer-lobby-screen-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
}

.multiplayer-lobby-screen-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    color: #000000;
    background-color: #eeeeee;
}

.multiplayer-lobby-screen-button {
    transition: all 0.1s ease-out;
}

.multiplayer-lobby-screen-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

/*
	DEFAULT MULTIPLAYER ROOM LOBBY
*/

#default-multiplayer-room-lobby-screen-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    color: #000000;
}

.default-multiplayer-room-lobby-screen-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    color: #000000;
    background-color: #eeeeee;

}

.default-multiplayer-room-lobby-screen-button {
    transition: all 0.1s ease-out;
}

.default-multiplayer-room-lobby-screen-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

.multiplayer-room-player-list-container {
    position: absolute;
    right: 0.5vw;
    top: 2.5vh;
    height: 20vh;
    border: 2px solid #000000;
    width: 350px;
}

.multiplayer-room-player-list {
    overflow-y: scroll;
    height: 100%;

    width: 100%;
}

.multiplayer-room-chat-box {
    overflow-y: scroll;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0.5vw;
    width: 96%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.multiplayer-room-chat-content-container > .multiplayer-room-chat-content-container-2 {
    display: flex;
    flex-direction: column-reverse;
} 

.multiplayer-room-chat-content-container {
    border: 2px solid #000000;
    width: 350px;
    top: 24.5vh;
    position: absolute;
    right: 0.5vw;
    height: 56.5vh;
    z-index: -2;
    max-height: 100%;
    word-wrap: break-word;
    
}

#multiplayer-room-message-box {
    position: absolute;
    top: 95%;
    right: 25%;
    width: 70%;
    word-wrap: break-word;
}

#multiplayer-room-message-box-container {
    left: 0%;
}

#chat-box-send-button {
    width: 22.5%;
    position: absolute;
    top: 95%;
    right: 0.5%;
    color: #000000;
}

#last-game-ranks-content {
    max-width: 500px;
    background-color: transparent;
}

.rainbow-letters {
    color: transparent;
    background-image: linear-gradient(
        90deg,
        #ff0000 0%,
        #ffa500 14.2%,
        #c9bc06 28.5%,
        #6fdd00 42.8%,
        #00ffff 57.1%,
        #0000ff 71.4%,
        #9932cc 85.7%,
        #ff1493 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
}

.multiplayer-player-list-player-name-container {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
}

.multiplayer-room-chat-content-container br {
    display: block; 
            content: ""; 
            margin-top: 0;
}

#default-multiplayer-room-player-list {
    color: #000000;
}

/*
	STATISTICS
*/

#statistics-screen-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;

}

.statistics-screen-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    transition: all 0.1s ease-out;
    color: #000000;
    background-color: #eeeeee;

}

.statistics-screen-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

#statistics-screen-content-container {
    float: right;
    right: 1vw;
    width: 75vw;
    overflow-y: auto;
    z-index: -100;
    height: 100vh;
}
/*
    SETTINGS
*/
#login-button {
    color: #000000;
}

.video-settings-screen-setting-container {
    display: flex;
}

.settings-screen-dropdown-menu-container {
    flex: 1;
}

.settings-screen-navigation-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

.settings-screen-navigation-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    transition: all 0.1s ease-out;
    color: #000000;
    background-color: #eeeeee;

}
#settings-screen-navigation-button-container {
    position: absolute;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
}

#settings-screen-navigation-button-container {
    display: block;
}

.settings-screen-dropdown-menu {
    width: 30vw;
    font-size: 24px;
    height: 28px;
    background-color: #eeeeee;
    right: 5vw;
}

.settings-input-box {
    width: 50vw;
    font-size: 24px;
    height: 28px;
    background-color: #eeeeee;
    right: 5vw;
}

.settings-screen-text-field {
    font-size: 24px;
    height: 28px;
    background-color: #eeeeee;
    right: 5vw;
}

.settings-button {
    font-size: 24px;
    height: 28px;
    background-color: #eeeeee;
    right: 5vw;
    color: #000000;
}

#settings-screen-back-button-container {
    position: absolute;
    bottom: 7.5vh;
    width: 100%;
    z-index: 1;
    background: none;
    color: #000000;
}

#settings-screen-content-container {
    float: right;
    right: 1vw;
    width: 75vw;
    overflow-y: auto;
    z-index: -100;
    height: 100vh;
}

/* 
GAME OVER
*/

#final-stats-container {
    top: 5vh;
    width: 60vw;
    height: 50vh;
    left: 20vw;
    border: none;
}

#game-over-screen-navigation-button-container {
    position: absolute;
    bottom: 7.5vh;
    width: 100%;
    z-index: 1;
    background: none;
    left: 0.5vw;
    bottom: 10vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    color: #000000;
}

.game-over-screen-navigation-button {
    width: 15.625vw;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid #000000;
    text-align: left;
    font-size: 24px;
    transition: all 0.1s ease-out;
    color: #000000;
    background-color: #eeeeee;

}

.game-over-screen-navigation-button:hover {
    box-shadow: inset 15.625vw 0 0 #b6b6b6;
}

#game-over-screen-content-container {
    float: right;
    right: 1vw;
    width: 75vw;
    overflow-y: auto;
    z-index: -100;
    height: 100vh;    
}

.game-over-screen-result-table__stat-label {
    width: 50%
}

.game-over-screen-result-table__stat-value {
    float: right;
    text-align: right;
    width: 50%;
}

/*
TOAST NOTIFICATIONS
*/

.toast-notification {
    z-index: 10000000;
    background-color: #333333;
    width: 400px;
    height: 75px;
    color: #cccccc;
    position: fixed;
    animation: fade-in-and-wait-and-fade-out 5s forwards;
}

.toast-notification div {
    z-index: 10000001;
}

.toast-notification.top-right-toast-notification {
    right: 0.25vh;
    top: 0.25vh;
}
.toast-notification.top-center-toast-notification {
    margin: 0 auto;
    top: 0.25vh;
    left: calc(50% - 200px);

}
.toast-notification.bottom-right-toast-notification {
    right: 0.25vh;
    bottom: 0.25vh;
}